.container{
    max-width: 1300px;
    max-height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoImg{
    max-width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.infoBox{
    margin: 0 auto;
    width: 600px;
    text-align: center;
    border: 2px solid green;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 30px 20px 30px;
    margin-bottom: 10vh;
}

.infoImg{
    max-width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .btn{
    padding: 10px 25px 10px 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: #fbfbfb;
}

.container .btn:hover{
    cursor: pointer;
    background-color: green;
    transition: all 0.5s ease-in-out;
}
