.container{
    border: solid 2px darkgray;
    margin-bottom: 1px;
    margin-top: 2px;
    width: 492px;
    height: 72px;
}

.item{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info{
    padding-left: 20px;
}

.codigo{
    border-right: solid 2px gray;
    padding-right: 10px;
    padding-bottom: 0;
}